*{
    box-sizing: border-box;
}
body{
    margin:0;
}
#record-video,#capture-btn{
  border: none;
  outline: none;
  z-index: 10;
  top:1rem;
  border-radius: 50%;
  height: 4.5rem;
  width:  4.5rem;
}
#capture-btn{
    top:55vh;
}
#record-video{
    background-color: red;
}
.btn-parent{
    height:7rem;
    width: 7rem;
    border: 0.5rem solid white;
    position: fixed;
    top:30vh;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right:3vw;
}
.capture-container{
    top:50vh;
}
.video_container{
    height:100vh;
    width:100vw;
    background-color: black;
    overflow: hidden;
}
video{
    height: 100%;
    width:100%;
}
/********animations*********/
.record-animation{
   animation:scaleUp 1s ease-in infinite;
}
.capture-animation{
    animation: scaleUp 0.5s ease-in;
}
@keyframes scaleUp{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.125);
    }
    50%{
        transform: scale(1.16);
    }
    75%{
        transform: scale(1.125);
    }
}